@import 'tailwindcss';

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

html,
body {
  @apply bg-white dark:bg-slate-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

a,
a:visited {
  @apply text-blue-600 hover:text-blue-800 dark:text-blue-400 dark:hover:text-blue-200;
}

.text-2xs {
  font-size: 0.5rem;
}
